###> IDE ###
/.idea/
/.vscode/
*.iml
.DS_Store
Thumbs.db
###< IDE ###

###> Symfony security ###
/.env
/.env.*
!.env.dist
/.env.local
/.env.local.php
/.env.*.local
###< Symfony security ###

###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
